*{
	background-color: white;	
	margin: auto;
}

header{
	background-color: black;
	box-shadow: 4px 4px 5px #4C4C4C;
}

header div{
	display: inline-block;
	border: 1px solid black;
	margin-left: 40%;
	margin-top: 1%;
	margin-bottom: 1%;
	position:relative;
	
}

header form{
	display:inline-block;
	float: right;
	margin-top: 4%;
	margin-right: 10%;
	background-color:black;
	
}

#search-field{
	border-radius: 2px;
	height: 40px;
	background-color: white;
	box-shadow: 1px 1px 1px #E6E6E6;	
}

#search-button{
	background-color: #3399FF;
    color: white;
    border-radius: 0;
}

