.slideshow{
	background-color: #3c4240;
	width: 90%;
	height: 40%;
	margin-left: 5%
}

div paper-icon-button {
	color:white;
	background-color: #848987;
	position:relative;
	margin-top: 10%;
	border-radius: 100%;
}

.slideshow div{
	background-image:  url();
	
}