.slideshow{
	background-color: #3c4240;
	height: 42%;
	box-shadow: 5px 5px 4px black;
}

div paper-icon-button {
	color:white;
	background-color: #848987;
	position:relative;
	margin-top: 10%;
	border-radius: 100%;
	box-shadow:1px 2px 3px black;
	float:left; 
}

.slideshow img{
	width: 30%;
	heigth: 35%;
	position: relative;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-left: 10%;
	color: #848987;
	background-color: #3c4240;
	box-shadow: none;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
}

h2{
	font-weight: bold;
	font-size: 40px;
	color: #3c4240;
}

hr{
	background: #3c4240;
	border:0;
	height:5px;
}

div#overview{
	position: absolute;
	height: 50%;
	width: 65%;
	margin: 0 0 0 2%;
}

#overview article{
	font: 1em normal arial;
}

aside{
	height: 50%;
	width: 25%;
	background-color: #3c4240;
	float: right;
	margin: 0 5% 2% 0;
	box-shadow:5px 5px 4px black;
	
}

#latest-header{
	position: relative;
	height: 10%;
	background-color: #3399FF;
	box-shadow: 1px 3px 2px black;
	color: white;
	font: 22px bold;
	text-align: center;
	
}

#latest-item{
	position: relative;
	height: 25%;
	width: 90%;
	margin: 3% 4% 1% 4%;
	background-color: white;
	box-shadow: 2px 4px 2px black;
}

#latest-item img{
	margin: 7% 5% 0 2%;
	height: 50%;
	width: 30%;
	float:left;
	box-shadow: 2px 4px 2px black;
}

#latest-item p{
	padding: 2% 2% 2% 2%;
	font-size: 1em;
}

