<! doctype html >
<html>

<head>

	{% load staticfiles %}
		<link href = "{% static 'css/base.css' %}" rel="stylesheet" type = "text/css" />
		<link rel="import" href="{% static 'bower_components/paper-elements/paper-elements.html' %}" />
	
	{% block style %}{% endblock %}
	{% block import %}{% endblock %}
	{% block script %}{% endblock %}
	
	<title>
		{% block title %}{% endblock %}
	</title>
	<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
	<header>
		{% load staticfiles %}
		<div><a href="/"><img src="{% static 'images/logo.png' %}" alt="PIXVERA" height="20%"></a></div>
	
		<!--<p>Pixvera</p>-->
	
	<form>
		<input label="Search" id="search-field"></paper-input>
		<paper-button raised id="search-button"> Search</paper-button>
	</form>
	
	</header>
	
	{% block content %}
	{% endblock %}
	
	<footer></footer>
</body>

</html>
